/* background-color: #1e2f98 !important; */

.bg-edit {
  margin-top: 30px;
}

#main1 .font {
  font-size: 80px;
}

#main1 .font-solutions {
  font-size: 78px;
}

#main1 .margin-top-edit {
  margin-top: 100px;
  background-color: white;
}

#main1 .margin-card-1 {
  margin-top: 50px;
}

#main1 .margin-card-2 {
  margin-top: 50px;
}

#main1 .margin-card-side {
  margin-left: 180px !important;
  margin-right: -45px !important;
}

#main1 .margin-card-right {
  margin-left: 30px;
}

#main2 {
  height: 500px;
}

#main2 .desc {
  line-height: 40px !important;
  word-spacing: 10px;
  font-size: 20px !important;
}

#main2 .row .big-num {
  font-size: 60px !important;
}

#main2 .margin-22 {
  margin-left: -200px;
}

#main2 .margin-205 {
  margin-left: -250px;
}

#main3 .main3-margin {
  margin-top: 90px;
}

#main3 .btn-nav {
  border: 1px solid black;
  background-color: #1e2f98;
  color: white;
  padding: 10px 30px;
  border-radius: 40px;
}

#main3 .brand {
  margin-left: -50px;
}

#main3 .stationary {
  margin-left: -50px;
}

#main3 .web {
  margin-left: -50px;
}

#main3 .btn-edit {
  padding: 15px 30px !important;
  margin-top: 70px !important;
  margin-left: 550px !important;
  background-color: white;
  border: 1px solid black;
  color: black !important;
}

#main3 .btn-edit:hover {
  background-color: #1e2f98;
  color: white !important;
}

#main4 .main4-margin {
  margin-top: 100px;
}

#main4 .margin-marquee {
  margin-top: 150px;
}

#main4 .margin-running-text {
  margin-left: 150px;
  margin-right: 150px;
}

#main4 .margin-marquee-2 {
  margin-bottom: -110px;
}

#main5 .icon-wrapper {
  font-size: 200px !important;
  margin-left: 120px !important;
}

#main5 .text-wrapper {
  margin-top: 80px;
  margin-left: -20px;
}
#main5 .text-wrapper h3 {
  font-size: 35px !important;
}
#main5 .text-wrapper p {
  font-size: 25px !important;
  opacity: 50%;
}

#main5 .text-wrapper h3,
.description {
  margin-left: 100px;
}

#main5 .text-name {
  margin-top: -50px;
  margin-left: 160px !important;
}

footer {
  height: 360px;
  background-color: black;
  margin-top: 100px;
  margin-left: -120px !important;
}

footer .col {
  margin-left: 40px !important;
}

footer .btn-edit {
  background-color: #1e2f98;
  border: none;
  padding: 20px 50px;
}

footer .fs-2{
  font-size: 3.5rem !important;
}

/* flip card */
.flip-card {
  background-color: transparent;
  width: 18rem;
  height: 18rem;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  background-color: #1e2f98;
  color: white;
  transform: rotateY(180deg);
}
/* End of flip card */

#main1 .line {
  position: absolute;
  bottom: 300px;
  left: 380px;
  width: 120px;
  height: 2px;
  background-color: black;
}

#main1 .btn-edit {
  padding: 15px 30px !important;
  background-color: #1e2f98 !important;
  margin-left: -195px !important;
}

#main1 .links {
  margin-bottom: 100px;
  margin-left: -150px;
  margin-top: 90px;
}

#main1 a {
  color: #1e2f98;
  margin-right: 20px;
  text-decoration: none;
}

/* this is mobile responsive */

@media (max-width: 768px) {
  body{
    overflow-x: hidden;
  }
  #main1 .font {
    font-size: 60px;
  }
  #main1 .font-solutions {
    font-size: 58px;
  }
  #main1 .line {
    display: none;
  }
  #main1 .margin-top-edit {
    margin-top: 30px;
  }

  #main1 .btn-edit {
    background-color: #1e2f98;
    margin-left: -230px !important;
    padding: 15px 30px;
  }

  #main1 img {
    height: 270px !important;
    width: 450px !important;
    margin-left: -55px;
  }

  #main1 .links {
    margin-bottom: 150px;
    margin-left: -155px;
    font-size: 18px;
  }

  #main1 a {
    text-decoration: none;
    color: #1e2f98;
    margin-right: 20px;
  }
  #main1 .margin-card-side {
    margin-left: 0 !important;
    margin-right: -100px;
  }
  #main1 .margin-card-1 {
    margin-top: -100px;
  }

  #main1 .margin-card-2 {
    margin-top: 0px;
  }
  #main1 .margin-card-right {
    margin-left: 0px;
  }

  #main3 .container{
    margin-top: 30px !important;
  }
  /* Mobile flip card */
  .flip-card {
    background-color: transparent;
    height: 220px !important;
    width: 320px !important;
    margin-left: 60px;
    perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-back {
    background-color: #1e2f98;

    color: white;
    transform: rotateY(180deg);
  }
  /* End of Mobile flip card */

  #main1 .mob-desc {
    width: 300px !important;
    margin-left: 70px !important;
  }

  #main2 {
    height: 740px;
  }

  #main2 .desc {
    font-size: 24px !important;
    margin-top: 120px !important;
  }

  #main2 .row .big-num {
    font-size: 55px !important;
    font-weight: 600 !important;
  }

  #main2 .row {
    display: flex !important;
    flex-direction: column !important;
    text-align: left;
  }

  #main2 .col {
    margin-left: 7px;
  }

  #main2 .row .col p {
    font-size: 15px !important;
    opacity: 50%;
  }

  #main3 .container .row .col {
    text-align: center;
  }

  #main3 .btn-nav {
    border: 1px solid black;
    background-color: #1e2f98;
    color: white;
    padding: 10px 27px;
    border-radius: 20px;
  }

  #main3 .col img{
    margin-top: 90px !important;
    width: 458spx !important; 
  }

  #main3 .col .greentea, .tottebag{
    width: 370px !important; 
 
  }

  #main3 .col a {
    position: absolute;
    top: 2480px;
    margin-left: 10px;
    align-items: center;
  }
  #main3 .col .name-title {
    margin-left: -255px;
    align-items: center;
  }
  #main3 .col .name-sean {
    margin-left: -280px !important;
    align-items: center;
  }
  #main3 .col .txt-photography {
    margin-left: 7px !important;
    align-items: center;
  }

  #main3 .col .p-title {
    margin-left: 8px;
    align-items: center;
  }

  #main3 .brand {
    margin-left: 55px;
  }

  #main3 .stationary {
    margin-left: 155px;
  }

  #main3 .web{
    margin-left: 260px;

  }
  
}
